@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {  
  background-color: #FAF8F3;
}

.logo-header{  
  font-family: 'Dancing Script', sans-serif;
  font-weight: 700;
}

.hero-section {
  background-image: url('../../public/image/hero-img.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2 {
  font-family: 'Lato', sans-serif;
}

h3 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;

}

a {
  font-family: 'Lato', sans-serif;
}